<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EventForum</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddBeitrag">
                <span class="oi oi-plus" aria-hidden="true"></span> Neuer Beitrag
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="beitragIdListe">
                <span class="oi oi-book" aria-hidden="true"></span> Beitrag Id Liste
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vorschau">
                <span class="oi oi-aperture" aria-hidden="true"></span> Vorschau
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="faker">
                <span class="oi oi-shield" aria-hidden="true"></span> Faker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swagger">
                <span class="oi oi-list-rich" aria-hidden="true"></span> API (Swagger)
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
